.header__lang-link_en {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;

  color: #fff;
}

.header__lang-link_en:hover {
  text-decoration-line: underline;
}

@media screen and (max-width: 320px) {
  .header__lang-link_en {
    font-size: 18px;
    line-height: 1.11;
  }
}
