.footer__author {
  font-size: 14px;
  line-height: 1.14;
  font-weight: normal;

  text-align: right;
  color: #fff;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 590px) {
  .footer__author {
    font-size: 14px;
    line-height: 1;

    margin-top: 48px;
  }
}
